  <div class="section section-footer-dark padding-bottom-16">
    <div class="container margin-bottom">
      <div class="col lg-2 md-12 md-order-first"><img src="images/light-zain.svg" alt=""></div>
      <div class="col lg-6 md-12 no-margin-bottom">
        <div class="container container-nested">

          <div class="col lg-4 md-12">
            <h4>Products</h4>
            <a id="Footer-Nav-Link" href="/pricing#features" class="footer-nav-link on-dark">Features</a>
            <a id="Footer-Nav-Link" href="/pricing" class="footer-nav-link on-dark">Pricing</a>
            <a id="Footer-Nav-Link" href="/pricing#faq" class="footer-nav-link on-dark">FAQ</a>
            <a id="Footer-Nav-Link" href="/contact" class="footer-nav-link on-dark">Technical Support</a>
          </div>

          <div class="col lg-4 md-12">
            <h4>Company</h4>
            <a id="Footer-Nav-Link" href="/about" class="footer-nav-link on-dark">About us</a>
            <a id="Footer-Nav-Link" href="/about#team" class="footer-nav-link on-dark">Our team</a>
            <a id="Footer-Nav-Link" href="/contact" class="footer-nav-link on-dark">Career</a>
            <a id="Footer-Nav-Link" href="contact" class="footer-nav-link on-dark">Become investor</a>
          </div>

          <div class="col lg-4 md-12 no-margin-bottom">
            <h4>Let&#x27;s connect</h4>
            <a id="Footer-Nav-Link" href="#" class="footer-nav-link on-dark">Instagram</a>
            <a id="Footer-Nav-Link" href="#" class="footer-nav-link on-dark">Facebook</a>
            <a id="Footer-Nav-Link" href="#" class="footer-nav-link on-dark">Twitter</a>
            <a id="Footer-Nav-Link" href="#" class="footer-nav-link on-dark">Youtube</a>
          </div>
        </div>
      </div>
      <div class="col lg-4 md-12 no-margin-bottom">
        <h4 class="margin-bottom">Subscribe</h4>
        <div class="margin-bottom w-form">
          <form id="email-form" name="email-form" data-name="Email Form" class="flexh-align-center"><input type="email" class="form-input-text is-grey margin-right-small no-margin-bottom w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email address" id="email-2" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." class="button-primary button-primary-small w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="margin-bottom low-text-contrast text-small">Join our newsletter to stay up to date on features and releases</div>
      </div>
    </div>
    <div class="container">
      <div class="col lg-12 margin-bottom">
        <div class="hr"></div>
      </div>
    </div>
    <div class="container">
      <div class="col lg-6 no-margin-bottom md-12 md-order-last">
        <div class="low-text-contrast text-small flexh-space-between md-flex-vertical">
          <div class="md-order-last">©2019 Dice Media Group. All rights reserved. </div>
          <a href="/privacy" class="footer-bottom-link">Privacy Policy</a>
          <a href="/terms" class="footer-bottom-link">Terms Of Service</a>
        </div>
      </div>
      <div class="col lg-6 no-margin-bottom md-12">
        <div class="w100 text-align-right footer-bottom md-text-align-left margin-bottom">Made in the U.S.A.</div>
      </div>
    </div>
  </div>
