<div class="col lg-8 md-12">
        <div data-duration-out="100" data-easing="ease-in-out-sine" data-duration-in="400" class="c-tabslider1 w-tabs">
          <div class="c-tabslider1__tab-content w-tab-content">
            <div data-w-tab="Tab 2" class="tabpane2 w-tab-pane w--tab-active" style="opacity: 1; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
              <div style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;" class="pane2">
                <div class="col lg-12 no-margin-bottom hero-img"><img src="images/slice4.svg" alt="" class="bg-color color1"></div>
              </div>
            </div>
            <div data-w-tab="Tab 1" class="tabpane1 w-tab-pane" style="">
              <div style="opacity: 0; transform: translate3d(0px, 30px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;" class="pane1">
                <div class="col lg-12 no-margin-bottom hero-img"><img src="images/slice1_1.svg" alt="" class="bg-color color1"></div>
              </div>
            </div>
            <div data-w-tab="Tab 3" class="tabpane3 w-tab-pane" style="">
              <div style="opacity: 0; transform: translate3d(0px, 30px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;" class="pane3">
                <div class="col lg-12 no-margin-bottom"><img src="images/slice3.svg" alt="" class="bg-color color1"></div>
              </div>
            </div>
            <div data-w-tab="Tab 4" class="tabpane4 w-tab-pane" style="">
              <div style="opacity: 0; transform: translate3d(0px, 30px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;" class="pane4">
                <div class="col lg-12 no-margin-bottom"><img src="images/slice2.svg" alt="" class="bg-color color1"></div>
              </div>
            </div>
          </div>
          <div class="c-tabslider1__tab-menu w-tab-menu">
            <a data-w-tab="Tab 2" data-w-id="5478bb87-5598-6828-1ba8-6bc578acd617" class="c-tabslider1__tab-link w-inline-block w-tab-link w--current">
              <div>Content Curation</div>
            </a>
            <a data-w-tab="Tab 1" data-w-id="5478bb87-5598-6828-1ba8-6bc578acd614" class="c-tabslider1__tab-link w-inline-block w-tab-link">
              <div>Scheduling</div>
            </a>
            <a data-w-tab="Tab 3" data-w-id="5478bb87-5598-6828-1ba8-6bc578acd61a" class="c-tabslider1__tab-link w-inline-block w-tab-link">
              <div>Social Analytics</div>
            </a>
            <a data-w-tab="Tab 4" data-w-id="5478bb87-5598-6828-1ba8-6bc578acd61d" class="c-tabslider1__tab-link w-inline-block w-tab-link">
              <div>Monitoring</div>
            </a>
          </div>
        </div>
      </div>