  <div class="section is-header bg-accent position-relative">
    <div class="container flex-horizontal">
      <div class="col lg-5 flexv-justify-center md-12">
        <div class="breadcrumb margin-bottom-double"><a href="#">Home</a><span class="fa margin-left-small margin-right-small is-xsmall"></span>About our history</div>
        <div>
          <h1>About our history</h1>
          <div class="text-medium">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh ut fermentum massa</div>
        </div>
      </div>
      <div class="col lg-1"></div>
      <div class="col lg-6 no-margin-bottom md-12"><img src="images/dummy-illustration.svg" alt=""></div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="col">
        <div class="pre-title">People behind Zain</div>
        <h2>Meet our dream team</h2>
      </div>
    </div>
    <div class="container wrapped">
      <div class="col lg-2 md-12">
        <div>Zain is one of the world&#x27;s leading social management platform</div>
      </div>
      <div class="col lg-5 md-12">
        <div class="flex-horizontal position-relative"><img src="images/2.jpg" width="300" alt="" class="margin-right">
          <div class="c-team1__info">
            <div class="c-team1__name">Hoskin <br>Woolard</div>
            <div class="size-h4 margin-bottom-quad">Founder</div>
            <div class="c-team1__social">
              <div class="fa-brand margin-right-small"></div>
              <div class="fa-brand margin-right-small"></div>
              <div class="fa-brand margin-right-small"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col lg-5 md-12">
        <div class="flex-horizontal position-relative"><img src="images/5.jpg" width="300" alt="" class="margin-right">
          <div class="c-team1__info">
            <div class="c-team1__name">Santiago<br>Toule</div>
            <div class="size-h4 margin-bottom-quad">Co-Founder</div>
            <div class="c-team1__social">
              <div class="fa-brand margin-right-small"></div>
              <div class="fa-brand margin-right-small"></div>
              <div class="fa-brand margin-right-small"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col lg-2 md-12"></div>
      <div class="col lg-5 md-12">
        <div class="flex-horizontal position-relative"><img src="images/photo-1491528323818-fdd1faba62cc.jpg" width="300" alt="" class="margin-right">
          <div class="c-team1__info">
            <div class="c-team1__name">Liam<br>Robertson</div>
            <div class="size-h4 margin-bottom-quad">Digital Farmer</div>
            <div class="c-team1__social">
              <div class="fa-brand margin-right-small"></div>
              <div class="fa-brand margin-right-small"></div>
              <div class="fa-brand margin-right-small"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col lg-5 md-12">
        <div class="flex-horizontal position-relative"><img src="images/6.jpg" width="300" alt="" class="margin-right">
          <div class="c-team1__info">
            <div class="c-team1__name">Tiago<br>Dickins<br></div>
            <div class="size-h4 margin-bottom-quad">Marketing Head</div>
            <div class="c-team1__social">
              <div class="fa-brand margin-right-small"></div>
              <div class="fa-brand margin-right-small"></div>
              <div class="fa-brand margin-right-small"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section bg-accent">
    <div class="container">
      <div class="col">
        <div class="pre-title">It&#x27;s where the magic happens</div>
        <h2>Collaborative startup office</h2>
      </div>
    </div>
    <div class="container">
      <div class="col lg-12">
        <div class="w-layout-grid c-grid1 gap-xsmall">
          <a href="#" id="w-node-0f80b55f0adb-104f0620" data-w-id="c34e3100-0f83-5eb8-4231-0f80b55f0adb" class="c-grid1__item img1 w-inline-block w-lightbox">
            <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-grid1__overlay2"><img src="images/plus.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="plus"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5d5f8db6c701decc0d29719f",
      "fileName": "pexels-photo-1015568.jpeg",
      "origFileName": "pexels-photo-1015568.jpeg",
      "width": 2250,
      "height": 1500,
      "fileSize": 364213,
      "url": "images/pexels-photo-1015568.jpeg"
    }
  ]
}</script>
          </a>
          <a href="#" id="w-node-0f80b55f0ade-104f0620" data-w-id="c34e3100-0f83-5eb8-4231-0f80b55f0ade" class="c-grid1__item img2 w-inline-block w-lightbox">
            <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-grid1__overlay2"><img src="images/plus.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="plus"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5d5f8db614f5cdf8d3c6c89d",
      "fileName": "photo-1562184552-b1ad96ec9836.jpeg",
      "origFileName": "photo-1562184552-b1ad96ec9836.jpeg",
      "width": 1650,
      "height": 1100,
      "fileSize": 236624,
      "url": "images/photo-1562184552-b1ad96ec9836.jpeg"
    }
  ]
}</script>
          </a>
          <a href="#" id="w-node-0f80b55f0ae1-104f0620" data-w-id="c34e3100-0f83-5eb8-4231-0f80b55f0ae1" class="c-grid1__item img3 w-inline-block w-lightbox">
            <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-grid1__overlay2"><img src="images/plus.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="plus"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5d5f8db614f5cdbebcc6c89f",
      "fileName": "photo-1558095625-f882e3436125.jpeg",
      "origFileName": "photo-1558095625-f882e3436125.jpeg",
      "width": 1650,
      "height": 1101,
      "fileSize": 461748,
      "url": "images/photo-1558095625-f882e3436125.jpeg"
    }
  ]
}</script>
          </a>
          <a href="#" id="w-node-0f80b55f0ae4-104f0620" data-w-id="c34e3100-0f83-5eb8-4231-0f80b55f0ae4" class="c-grid1__item img4 w-inline-block w-lightbox">
            <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-grid1__overlay2"><img src="images/plus.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="plus"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5d5f8db614f5cdb7afc6c89e",
      "fileName": "photo-1562184647-b8ab86682676.jpeg",
      "origFileName": "photo-1562184647-b8ab86682676.jpeg",
      "width": 1650,
      "height": 1100,
      "fileSize": 311611,
      "url": "images/photo-1562184647-b8ab86682676.jpeg"
    }
  ]
}</script>
          </a>
          <a href="#" id="w-node-0f80b55f0ae7-104f0620" data-w-id="c34e3100-0f83-5eb8-4231-0f80b55f0ae7" class="c-grid1__item img5 w-inline-block w-lightbox">
            <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-grid1__overlay2"><img src="images/plus.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="plus"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5d5f8db6a7638ff5344f27a2",
      "fileName": "photo-1559077184-562609f0a10b.jpeg",
      "origFileName": "photo-1559077184-562609f0a10b.jpeg",
      "width": 1649,
      "height": 1101,
      "fileSize": 344717,
      "url": "images/photo-1559077184-562609f0a10b.jpeg"
    }
  ]
}</script>
          </a>
          <a href="#" id="w-node-0f80b55f0aea-104f0620" data-w-id="c34e3100-0f83-5eb8-4231-0f80b55f0aea" class="c-grid1__item img6 w-inline-block w-lightbox">
            <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-grid1__overlay2"><img src="images/plus.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="plus"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5d5f8db6b6d68d223601b50a",
      "fileName": "photo-1562184647-7c5c35548033.jpeg",
      "origFileName": "photo-1562184647-7c5c35548033.jpeg",
      "width": 1667,
      "height": 1088,
      "fileSize": 216014,
      "url": "images/photo-1562184647-7c5c35548033_1.jpeg"
    }
  ]
}</script>
          </a>
          <a href="#" id="w-node-0f80b55f0aed-104f0620" data-w-id="c34e3100-0f83-5eb8-4231-0f80b55f0aed" class="c-grid1__item img7 w-inline-block w-lightbox">
            <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-grid1__overlay2"><img src="images/plus.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="plus"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5d5f8db6ef7f20cd3184bdd0",
      "fileName": "photo-1562184167-2b35a31ab178.jpeg",
      "origFileName": "photo-1562184167-2b35a31ab178.jpeg",
      "width": 1651,
      "height": 1101,
      "fileSize": 262809,
      "url": "images/photo-1562184167-2b35a31ab178.jpeg"
    }
  ]
}</script>
          </a>
          <a href="#" id="w-node-0f80b55f0af0-104f0620" data-w-id="c34e3100-0f83-5eb8-4231-0f80b55f0af0" class="c-grid1__item img8 w-inline-block w-lightbox">
            <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.7000000000000001, 0.7000000000000001, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="c-grid1__overlay2"><img src="images/plus.svg" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.1, 0.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="plus"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5d5f8f2714f5cd1d96c6cc2c",
      "fileName": "photo-1562184552-11a7e638b6f5.jpeg",
      "origFileName": "photo-1562184552-11a7e638b6f5.jpeg",
      "width": 1651,
      "height": 1101,
      "fileSize": 153146,
      "url": "images/photo-1562184552-11a7e638b6f5.jpeg"
    }
  ]
}</script>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="col text-align-center lg-12">
        <div class="pre-title">Premium Partners</div>
        <h2>Platforms we&#x27;ve worked with successfully</h2>
      </div>
    </div>
    <div class="container">
      <div class="col lg-12">
        <div class="w-layout-grid c-grid5x1"><img src="https://uploads-ssl.webflow.com/5d47f0ccf0c5a755bb5cfe34/5d5e24018f10c51feafd5d5f_hips.svg" alt=""><img src="https://uploads-ssl.webflow.com/5d47f0ccf0c5a755bb5cfe34/5d5e2401240e83343da6b65e_ember.svg" alt=""><img src="https://uploads-ssl.webflow.com/5d47f0ccf0c5a755bb5cfe34/5d5e2400766201d1dbf63b06_aviato.svg" alt=""><img src="https://uploads-ssl.webflow.com/5d47f0ccf0c5a755bb5cfe34/5d5e2401aa3dfeb315a53494_d-and-d-beyond.svg" alt=""><img src="https://uploads-ssl.webflow.com/5d47f0ccf0c5a755bb5cfe34/5d5e2401766201141ef63b08_hooli.svg" alt=""></div>
      </div>
    </div>
  </div>


  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
    var Webflow = Webflow || [];
    Webflow.push(function () {
      // DOMready has fired
      // May now use jQuery and Webflow api
// start everything
      var tabTimeout;
      clearTimeout(tabTimeout);
      tabLoop();
    // define loop - cycle through all tabs
    function tabLoop() {
        tabTimeout = setTimeout(function() {
            var $next = $('.c-tabslider1__tab-menu').children('.w--current:first').next();
            if($next.length) {
                $next.click();  // click resets timeout, so no need for interval
            } else {
                $('.c-tabslider1__tab-link:first').click();
            }
        }, 2000);  // 2 second tab loop
    }
    // reset timeout if a tab is clicked
    $('.c-tabslider1__tab-link').click(function() {
        clearTimeout(tabTimeout);
        tabLoop();
        });
    });
</script>
