<h1>Welcome to Jumpstart!</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<style>
	.promos {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: minmax(30vh, 1fr);
		grid-gap: 1rem;
		grid-template-areas: 	"main second second"
								"main third  fourth";
	}
	.promo:first-child {
		grid-area: main;
		background-color: green;
	}
	.promo:nth-child(2) {
		grid-area: second;
		background-color: blue;
	}
	.promo:nth-child(3) {
		grid-area: third;
		background-color: orange;
	}
	.promo:nth-child(4) {
		grid-area: fourth;
		background-color: black;
	}
</style>

<section class="promos">
	<div class="promo">
	    <div class="item">1</div>
	</div>
	<div class="promo">
	    <div class="item">2</div>
	</div>
	<div class="promo">
	    <div class="item">3</div>
	</div>
	<div class="promo">
	    <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus error cumque minus officia quae! Nostrum repellendus ducimus, qui itaque assumenda modi eaque rerum fugit optio consequatur aut illum alias amet consequuntur odio distinctio laborum omnis expedita ipsa repudiandae eveniet magni laudantium voluptatibus. Odit!</div>
	</div>
</section>
    
