      <div class="col lg-5 md-12">
        <h2 class="margin-bottom">FAQ</h2>
        <div class="c-accordion1 margin-bottom">
          <a data-w-id="29e084af-df8a-8d8f-6dcb-1e19f22c8f89" href="#" class="c-accordion1__head w-inline-block">
            <h4 class="no-margin-bottom">What social media sites do you work with?<br></h4>
            <div class="fa accordion-chevron"></div>
          </a>
          <div style="height:0PX" class="c-accordion__content">
            <div class="c-accordion__inner">
              <div>Facebook, Twitter, YouTube, Google+, Pinterest, Instagram, and more.</div>
            </div>
          </div>
        </div>
        <div class="c-accordion1 margin-bottom">
          <a data-w-id="29e084af-df8a-8d8f-6dcb-1e19f22c8f93" href="#" class="c-accordion1__head w-inline-block">
            <h4 class="no-margin-bottom">Will social media work for my business?</h4>
            <div class="fa accordion-chevron"></div>
          </a>
          <div style="height:0PX" class="c-accordion__content">
            <div class="c-accordion__inner">
              <div>Yes. Social media can work for any company. Social media allows end consumer connections to be made and maintained like no other advertising outlet. It enhances customer relations and creates a portal to reach out to new potential clientele and disseminate information while promoting positive feedback and combating the negative.</div>
            </div>
          </div>
        </div>
        <div class="c-accordion1 margin-bottom">
          <a data-w-id="29e084af-df8a-8d8f-6dcb-1e19f22c8f9d" href="#" class="c-accordion1__head w-inline-block">
            <h4 class="no-margin-bottom">What does your reporting include?</h4>
            <div class="fa accordion-chevron"></div>
          </a>
          <div style="height:0PX" class="c-accordion__content">
            <div class="c-accordion__inner">
              <div>Our reporting consists of monthly overviews; different platform insights and analysis; a Facebook ad screenshot with relevant statistics; screenshots of top performing posts; and campaign call outs and next steps.</div>
            </div>
          </div>
        </div>
        <div class="c-accordion1 margin-bottom">
          <a data-w-id="29e084af-df8a-8d8f-6dcb-1e19f22c8fa7" href="#" class="c-accordion1__head w-inline-block">
            <h4 class="no-margin-bottom">How many more Facebook Likes will I get?</h4>
            <div class="fa accordion-chevron"></div>
          </a>
          <div style="height:0PX" class="c-accordion__content">
            <div class="c-accordion__inner">
              <div>The Facebook Like component is an important aspect of the Facebook Page, but engaging the target audience is our main focus. It does not benefit a company to have 1,000,000 fans if they are unable to stimulate those fans. Even worse, if the fans are hiding posts from their News Feeds, then no one is seeing any of your content. We do not promise any specific number of fans, as we are interested in the quality of fans over the quantity. We strive to build our Pages through organic means, creating a strong brand and loyal fan base. This in turn will expand the reach of the word of mouth, or in the case of Facebook, word of News Feed.</div>
            </div>
          </div>
        </div>
        <div class="c-accordion1 margin-bottom">
          <a data-w-id="de584fe4-0672-3194-ce0d-dcf502bf3473" href="#" class="c-accordion1__head w-inline-block">
            <h4 class="no-margin-bottom">How can you know about our business if you don’t work for us?</h4>
            <div class="fa accordion-chevron"></div>
          </a>
          <div style="height:0PX" class="c-accordion__content">
            <div class="c-accordion__inner">
              <div>All of our clients are asked to fill out a survey, which outlines much of the typical information we need to get started. As we deepen our relationship, we’ll become an extension of your team and we pride ourselves on learning as much as possible about the inner workings of your company. We stay up-to-date on new promotions and information via the client and monitor any online activity directed at or about the company so the social media sites will always be correct and current.</div>
            </div>
          </div>
        </div>
        <div class="c-accordion1 margin-bottom">
          <a data-w-id="a55e6bec-db0f-a5ba-1279-e62957c13b36" href="#" class="c-accordion1__head w-inline-block">
            <h4 class="no-margin-bottom">Why is an agency better than hiring someone in-house?</h4>
            <div class="fa accordion-chevron"></div>
          </a>
          <div style="height:0PX" class="c-accordion__content">
            <div class="c-accordion__inner">
              <div>Let the professionals handle it. The primary benefit to having an agency manage your social media campaign is experience. By focusing specifically on social media, agencies have the ability to stay up-to-date on current changes and know all of the ins and outs of the various intricacies of social media. At Wpromote, we have contacts at many of the social platforms and are kept abreast of any changes that may occur so we may plan accordingly.</div>
            </div>
          </div>
        </div>
      </div>
