      <div class="col lg-6 md-12">
        <div class="container container-nested margin-bottom">
          <div class="col lg-12 no-margin-bottom">
            <h2>Discover Our Exclusive Features</h2>
          </div>
        </div>
        <div class="container container-nested is-wrapped">
          <div class="col lg-6">
            <div class="flexh-align-center margin-bottom"><img src="images/Group-3.svg" width="64" height="64" alt="" class="margin-right-small">
              <h4 class="no-margin-bottom">Paid Search &amp; Media</h4>
            </div>
            <div class="margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus</div>
          </div>
          <div class="col lg-6">
            <div class="flexh-align-center margin-bottom"><img src="images/Group-5.svg" width="64" alt="" class="margin-right-small">
              <h4 class="no-margin-bottom">Digital Intelligence</h4>
            </div>
            <div class="margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus</div>
          </div>
          <div class="col lg-6">
            <div class="flexh-align-center margin-bottom"><img src="images/Group-4.svg" width="64" alt="" class="margin-right-small">
              <h4 class="no-margin-bottom">Social: Paid &amp; Earned</h4>
            </div>
            <div class="margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus</div>
          </div>
          <div class="col lg-6">
            <div class="flexh-align-center margin-bottom"><img src="images/Group-2.svg" width="64" alt="" class="margin-right-small">
              <h4 class="no-margin-bottom">Email Marketing</h4>
            </div>
            <div class="margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus</div>
          </div>
        </div>
      </div>
