  <div class="section is-header bg-accent">
    <div class="container flex-horizontal">
      <div class="col lg-5 flexv-justify-center md-12">
        <div class="breadcrumb margin-bottom-double"><a href="#">Home</a><span class="fa margin-left-small margin-right-small is-xsmall"></span>Pricing</div>
        <div>
          <h1>Simple, predictable pricing</h1>
          <div class="text-medium">Always know what you&#x27;ll pay with monthly caps and flat pricing accros plans</div>
        </div>
      </div>
      <div class="col lg-1"></div>
      <div class="col lg-6 no-margin-bottom md-12"><img src="images/pricing-illustration.svg" alt=""></div>
    </div>
  </div>
