      <div class="col lg-12">
        <div data-duration-in="300" data-duration-out="100" class="w-tabs">
          <div class="flexh-justify-center margin-bottom-double w-tab-menu">
            <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current">
              <div class="semi-bold">Monthly</div>
            </a>
            <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link">
              <div class="semi-bold">Yearly</div>
            </a>
          </div>
          <div class="c-pricing_tab-content w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
              <div class="container container-nested flex-horizontal">
                <div class="col lg-4 md-12">
                  <div class="c-pricing">
                    <div class="c-pricing__inner flexv-space-between h100">
                      <div class="c-pricing__inner-top">
                        <div class="size-h4 text-align-right margin-bottom-quad">Essential</div>
                        <div class="c-pricing-price2">$22 <span class="font-size-normal">/ Month</span></div>
                        <div class="container container-nested">
                          <div class="col lg-12 margin-bottom">
                            <div class="hr is-on-white"></div>
                          </div>
                        </div>
                        <div class="is-bold">Great for starters<br>‍</div>
                        <ul class="c-checklist margin-bottom-double">
                          <li class="c-checklist_item">7 marketing channels</li>
                          <li class="c-checklist_item">1-click automations</li>
                          <li class="c-checklist_item">Basic templates</li>
                          <li class="c-checklist_item">Marketing CRM</li>
                        </ul>
                      </div>
                      <a href="#" class="button-primary is-fullwidth w-inline-block">
                        <div class="button-primary-text">get started</div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col lg-4 md-12">
                  <div class="c-pricing">
                    <div class="c-pricing__inner flexv-space-between h100">
                      <div class="c-pricing__inner-top">
                        <div class="size-h4 text-align-right margin-bottom-quad">Standard</div>
                        <div class="c-pricing-price2">$34 <span class="font-size-normal">/ Month</span></div>
                        <div class="container container-nested">
                          <div class="col lg-12 margin-bottom">
                            <div class="hr is-on-white"></div>
                          </div>
                        </div>
                        <div class="is-bold">Great for starters<br>‍</div>
                        <ul class="c-checklist margin-bottom-double">
                          <li class="c-checklist_item">All email templates</li>
                          <li class="c-checklist_item">A/B testing</li>
                          <li class="c-checklist_item">Custom branding</li>
                          <li class="c-checklist_item">Automation series</li>
                          <li class="c-checklist_item">24/7 award-winning support</li>
                        </ul>
                      </div>
                      <a href="#" class="button-primary is-fullwidth w-inline-block">
                        <div class="button-primary-text">get started</div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col lg-4 md-12">
                  <div class="c-pricing">
                    <div class="c-pricing__inner">
                      <div class="c-pricing__inner-top">
                        <div class="size-h4 text-align-right margin-bottom-quad">Premium</div>
                        <div class="c-pricing-price2">$79 <span class="font-size-normal">/ Month</span></div>
                        <div class="container container-nested">
                          <div class="col lg-12 margin-bottom">
                            <div class="hr is-on-white"></div>
                          </div>
                        </div>
                        <div class="is-bold">Great for starters<br>‍</div>
                        <ul class="c-checklist margin-bottom-double">
                          <li class="c-checklist_item">Retargeting ads</li>
                          <li class="c-checklist_item">A/B/C testing</li>
                          <li class="c-checklist_item">Custom templates</li>
                          <li class="c-checklist_item">Advanced audience insights</li>
                          <li class="c-checklist_item">Unlimited seats and role-based access</li>
                        </ul>
                      </div>
                      <a href="#" class="button-primary is-fullwidth w-inline-block">
                        <div class="button-primary-text">get started</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane">
              <div class="container container-nested flex-horizontal">
                <div class="col lg-4 md-12">
                  <div class="c-pricing">
                    <div class="c-pricing__inner flexv-space-between h100">
                      <div class="c-pricing__inner-top">
                        <div class="size-h4 text-align-right margin-bottom-quad">Essential</div>
                        <div class="c-pricing-price2">$20 <span class="font-size-normal">/ Month</span></div>
                        <div class="container container-nested">
                          <div class="col lg-12 margin-bottom">
                            <div class="hr is-on-white"></div>
                          </div>
                        </div>
                        <div class="is-bold">Great for starters<br>‍</div>
                        <ul class="c-checklist margin-bottom-double">
                          <li class="c-checklist_item">7 marketing channels</li>
                          <li class="c-checklist_item">1-click automations</li>
                          <li class="c-checklist_item">Basic templates</li>
                          <li class="c-checklist_item">Marketing CRM</li>
                        </ul>
                      </div>
                      <a href="#" class="button-primary is-fullwidth w-inline-block">
                        <div class="button-primary-text">Action</div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col lg-4 md-12">
                  <div class="c-pricing">
                    <div class="c-pricing__inner flexv-space-between h100">
                      <div class="c-pricing__inner-top">
                        <div class="size-h4 text-align-right margin-bottom-quad">Standard</div>
                        <div class="c-pricing-price2">$30 <span class="font-size-normal">/ Month</span></div>
                        <div class="container container-nested">
                          <div class="col lg-12 margin-bottom">
                            <div class="hr is-on-white"></div>
                          </div>
                        </div>
                        <div class="is-bold">Great for starters<br>‍</div>
                        <ul class="c-checklist margin-bottom-double">
                          <li class="c-checklist_item">All email templates</li>
                          <li class="c-checklist_item">A/B testing</li>
                          <li class="c-checklist_item">Custom branding</li>
                          <li class="c-checklist_item">Automation series</li>
                          <li class="c-checklist_item">24/7 award-winning support</li>
                        </ul>
                      </div>
                      <a href="#" class="button-primary is-fullwidth w-inline-block">
                        <div class="button-primary-text">Action</div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col lg-4 md-12">
                  <div class="c-pricing">
                    <div class="c-pricing__inner">
                      <div class="c-pricing__inner-top">
                        <div class="size-h4 text-align-right margin-bottom-quad">Premium</div>
                        <div class="c-pricing-price2">$65 <span class="font-size-normal">/ Month</span></div>
                        <div class="container container-nested">
                          <div class="col lg-12 margin-bottom">
                            <div class="hr is-on-white"></div>
                          </div>
                        </div>
                        <div class="is-bold">Great for starters<br>‍</div>
                        <ul class="c-checklist margin-bottom-double">
                          <li class="c-checklist_item">Retargeting ads</li>
                          <li class="c-checklist_item">A/B/C testing</li>
                          <li class="c-checklist_item">Custom templates</li>
                          <li class="c-checklist_item">Advanced audience insights</li>
                          <li class="c-checklist_item">Unlimited seats and role-based access</li>
                        </ul>
                      </div>
                      <a href="#" class="button-primary is-fullwidth w-inline-block">
                        <div class="button-primary-text">Action</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
