<!DOCTYPE html>
<html data-wf-page="5d5e0eecaa3dfed5f4a4f50a" data-wf-site="5d5e0eb876620148fbf5e7d9">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <%#= render 'shared/notices' %>

<!--     <div class="container">
 -->      <%= yield %>
<!--     </div>
 -->
    <%#= render 'shared/footer' %>
  </body>
</html>
